{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/carte.css') }}">
{% endblock %}

{% block body %}
    <div id="map" class="container"></div>
    <section class="carte-container container">
        <h2 class="title">
            <i class="icon--large icon--search"></i>
            <span>Carte Interactive</span>
        </h2>
        <div class="well">
        {{ form(form) }}
        </div>

        <div class="container search-title">
            <i class="icon--large icon--maps"></i>
            <h3>RESULTAT DE RECHERCHE :</h3>
        </div>
        <table id="listObservationCarte" class="container">
          <thead id="enteteCarteTab">
            <tr class="enteteCarteTr">
            <th>N°</th>
            <th>Dpt</th>
            <th>Date</th>
            <th>Famille</th>
            <th>Nom de l'oiseau</th>
            <th>Auteur</th>
            </tr>
            </thead>
        </table>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
    $(function() {

      var familleNames = {};
        var nomScientifiqueNames = {};
        var nomVernaculaireNames = {};
        var depart= {};

        $("select[name='observation_carte[famille]']").prepend('<option value="null" selected="selected"></option>');
          $("select[name='observation_carte[nomVernaculaire]']").prepend('<option value="null" selected="selected"></option>');
          $("select[name='observation_carte[nomScientifique]']").prepend('<option value="null" selected="selected"></option>');
          $("select[name='observation_carte[department]']").prepend('<option value="null" selected="selected"></option>');
          

        $("select[name='observation_carte[famille]'] > option").each(function () {
          if(familleNames[this.text]) {
            $(this).remove();
          }
          else {
            familleNames[this.text] = this.value;
          }
        });

        $("select[name='observation_carte[nomScientifique]'] > option").each(function () {
          if(nomScientifiqueNames[this.text]) {
            $(this).remove();
          }
          else {
            nomScientifiqueNames[this.text] = this.value;
          }
        });

        $("select[name='observation_carte[nomVernaculaire]'] > option").each(function () {
          if(nomVernaculaireNames[this.text]) {
            $(this).remove();
          }
          else {
            nomVernaculaireNames[this.text] = this.value;
          }
        });

        $(window).one('load', function(){

          $.ajax({
          url:'http://localhost:8000/api/observations/listsall/carte',
          type : 'GET',
          success: function(data){

            $('tr').remove(".listTableau");
            $('#listObservationCarte').css("display","table");

            deleteMarkers();
            $.each(data, function(i, observation){

              var marker = new google.maps.Marker({
                position: {lat: observation.location['x'], lng: observation.location['y']},
                map: map
              });
              markers.push(marker);
               date = new Date(observation.created_at);
              var dateFormatting = date.toLocaleDateString();

              var trUser = '<tr class="listTableau"><td>'+observation.id+'</td><td>'+observation.department+'</td><td>'+dateFormatting+'</td><td>'+observation.famille+'</td><td>'+observation.nom_vernaculaire+'</td><td>'+observation.author+'</td></tr>';

              $('#listObservationCarte').append(trUser);
            });


          },
          error: function(xhr, ajaxOptions, thrownError){
            alert("oupsss un soucis");
          }
        });
        });
        

    });

    </script>
    <script>

    var markers = [];
    var map;
      function initMap() {
        var France = {lat: 46.227638, lng: 2.213749000000007};
       map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: France
      });

      var form = document.querySelector("form");

       form.addEventListener("submit", function(e){
        e.preventDefault();

        var famille = document.getElementById("observation_carte_famille").options[document.getElementById("observation_carte_famille").selectedIndex].text;

        var nomVern = document.getElementById("observation_carte_nomVernaculaire").options[document.getElementById("observation_carte_nomVernaculaire").selectedIndex].text;
        var nomScien = document.getElementById("observation_carte_nomScientifique").options[document.getElementById("observation_carte_nomScientifique").selectedIndex].text;
        var departement = document.getElementById("observation_carte_department").options[document.getElementById("observation_carte_department").selectedIndex].text;

        var ListObs = {
          "famille": famille,
          "nom_vernaculaire": nomVern,
          "nom_scientifique": nomScien,
          "department": departement
        };

        

        $.ajax({
          url:'http://localhost:8000/api/observations/lists/carte',
          type : 'POST',
          data: JSON.stringify(ListObs),
          dataType: 'json',
          contentType: 'application/json',
          processData: false,
          success: function(data){

            $('tr').remove(".listTableau");
            $('#listObservationCarte').css("display","table");

            deleteMarkers();
            $.each(data, function(i, observation){

              var marker = new google.maps.Marker({
                position: {lat: observation.location['x'], lng: observation.location['y']},
                map: map
              });
              markers.push(marker);
             date = new Date(observation.created_at);
              var dateFormatting = date.toLocaleDateString();

              var trUser = '<tr class="listTableau"><td>'+observation.id+'</td><td>'+observation.department+'</td><td>'+dateFormatting+'</td><td>'+observation.famille+'</td><td>'+observation.nom_vernaculaire+'</td><td>'+observation.author+'</td></tr>';

              $('#listObservationCarte').append(trUser);
            });


          },
          error: function(xhr, ajaxOptions, thrownError){
            alert("vous devez remplir au moins un filtre");
          }
        });
      });



      }

     // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }
      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyZgz9fFFmD4Vf_0nJTlde0VEq6KxhFrw&callback=initMap">
    </script>
    {{ parent() }}
{% endblock %}