{# src/FT/OrnitBundle/Resources/views/Map/index.html.twig #}



{% extends "FTOrnitBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
   <h1>Google MAP</h1>
   	
{% endblock %}