{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/home.css') }}">
{% endblock %}

{% block body %}
    <section class="section-img section-img--home container">
        <div class="row home-background">
            <h1 class="home-title">
                <span>Bienvenue sur le site participatif "Nos Amis les Oiseaux"</span>
                <span class="hidden-sm">Ensemble, observons, partageons, protégeons la biodiversité.</span>
            </h1>
            <a href="#" class="btn btn--large btn--icon">
                <i class="icon icon--prog is_active"></i>
                <span>Contribuer aux programmes</span>
            </a>
        </div>
    </section>
    <section class="home-container container">
        <div class="home-row">
            <a href="#" class="center center--column">
                <i class="icon--large icon--connection"></i>
                <span>Connexion inscription</span>
            </a>
            <a href="#" class="center center--column">
                <i class="icon--large icon--maps"></i>
                <span>Carte interactive</span>
            </a>
            <a href="#" class="center center--column">
                <i class="icon--large icon--obs"></i>
                <span>Saisir une observation</span>
            </a>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {% if is_granted('ROLE_NATURALISTE') %}
        <script>
            (function () {
                let buttonProg = document.querySelector('.btn.btn--large');
                buttonProg.classList.add('is_pro');
            })();
        </script>
    {% endif %}
    {{ parent() }}
{% endblock %}
