{% extends 'base.html.twig' %}

{% block body %}
    <div style="min-height: 800px"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
