{# src/NAO/ProgrammesBundle/Resources/views/Comment/form.html.twig #}

<div class="article-title">
    <i class="icon icon--discuss"></i>
    <h3>Ajouter un commentaire</h3>
</div>
{{ form_start(form, {'action': path('nao_comment_create' , {'idblog' : comment.blog.id}) , 'method': 'POST', 'attr': {'class' : 'well blogger'}}) }}
    {{ form_row(form.user, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.comment, {'attr': {'class': 'form-control'}}) }}
    <button type="submit" class="btn"><i class="icon--small"></i><span>Envoyer</span></button>
{{ form_end(form) }}