/***** FONT *****/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    background-color: #282829;
}
a {
    text-decoration: none;
}
/***** BACKGROUND IMG *****/
.section-img {
    padding-top: 130px;
}
/***** TEXT *****/
.text-pull-right.md {
    text-align: right;
}
.text-pull-left.md {
    text-align: left;
}
.text-center.md {
    text-align: center;
}
.text-red {
    color: #C1272D;
}
/***** FORM *****/
.form-control {
    width: 100%;
    background-color: #BFBFBF;
    color: #282829;
}
/***** DIVIDER *****/
.divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #888;
    margin: 1em 0;
    padding: 0;
}
.divider--lg {
    height: 3px;
    border-top: 3px solid #888;
}
.divider--light {
    border-top-color: #FAFAFA;
}
/***** NOT ALLOWED *****/
.not-allowed:hover {
    cursor: not-allowed;
}
/***** LAYOUT *****/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center--column {
    flex-direction: column;
}
/***** ALERT *****/
.alert {
    height: 35px;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-success {
    background-color: #8CC63F;
}
.alert-danger {
    background-color: #AA3333;
}
/***** BUTTONS *****/
.btn {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    min-width: 155px;
    height: 24px;
    line-height: 19px;
    font-weight: bolder;
    background-color: #8CC63F;
    box-shadow: 0 5px 8px black;
    color: #282829;
    border: none;
    font-variant-caps: all-small-caps;
    font-size: 1.2em;
    border-radius: 16px;
    transition: .2s;
}
.btn--large {
    height: 34px;
}
.btn-red {
    background-color: #C1272D;
    color: #FAFAFA;
}
.btn.btn-red:hover {
    color: #FAFAFA;
}
.btn:hover {
    color: #282829;
    box-shadow: 0 3px 6px black;
}
.btn--icon {
    display: flex;
    justify-content: space-around;
}
.button-group {
    display: flex;
    margin: 10px 0 10px 0;
}
.button-group.button-group--space-between {
    justify-content: space-between;
}
.button-group--pull-right {
    justify-content: flex-end;
}
/***** ICONS *****/
.icon {
    display: inline-block;
    width: 44px;
    height: 40px;
    -webkit-transition: .2s;
    transition: .2s;
}
.icon--small {
    display: inline-flex;
    width: 16px;
    height: 16px;
    transition: .2s;
}
.icon--large {
    display: inline-flex;
    width: 86px;
    height: 82px;
    transition: .2s;
}
.icon--home {  background: url('../logo-icones/MAISON  NAV DESK.svg') no-repeat;  }
.icon--logout { background: url('../logo-icones/icone-cadenas-logout.svg') no-repeat 8px 0;}
.icon--connection {  background: url('../logo-icones/icone-cadenas-connexion.svg') no-repeat 8px 0;  }
.is_pro.icon--connection {  background: url('../logo-icones/icone-cadenas-connexion-pro.svg') no-repeat 8px 0;  }
.is_pro.icon--connection:hover {  background: url('../logo-icones/icone-cadenas-connexion-pro.svg') no-repeat 8px 0;  }
.icon--maps {  background: url('../logo-icones/icone rapide carte.svg') no-repeat 8px 0;  }
.is_pro.icon--maps {  background: url('../logo-icones/icone-carte-pro.svg') no-repeat 8px 0;  }
.is_pro.icon--maps:hover {  background: url('../logo-icones/icone-carte-pro.svg') no-repeat 8px 0;  }
.icon--maps.is_active { background: url('../logo-icones/icone rapide carte-green.svg') no-repeat 8px 0; }
.is_pro.icon--maps.is_active { background: url('../logo-icones/icone-carte-pro.svg') no-repeat 8px 0; }
.icon--obs {  background: url('../logo-icones/icone-saisir-obs.svg') no-repeat 4px 0;  }
.is_pro.icon--obs {  background: url('../logo-icones/icone-saisir-obs-pro.svg') no-repeat 4px 0;  }
.is_pro.icon--obs:hover {  background: url('../logo-icones/icone-saisir-obs-pro.svg') no-repeat 4px 0;  }
.icon--prog {  background: url('../logo-icones/icone-programme.svg') no-repeat 3px 0;  }
.is_pro.icon--prog {  background: url('../logo-icones/icone-programme-pro.svg') no-repeat 3px 0;  }
.is_pro.icon--prog:hover {  background: url('../logo-icones/icone-programme-pro.svg') no-repeat 3px 0;  }
.icon--prog.is_active {  background: url('../logo-icones/icone-programme-green.svg') no-repeat 3px 0;  }
.icon--account {  background: url('../logo-icones/PROFIL USER NAV.svg') no-repeat 2px 0;  }
.icon--account.is_active { background: url('../logo-icones/PROFIL USER NAV-green.svg') no-repeat 2px 0; }
.is_pro.icon--account {  background: url('../logo-icones/icone-mon-compte-pro.svg') no-repeat 2px 0;  }
.is_active.is_pro.icon--account {  background: url('../logo-icones/icone-mon-compte-pro.svg') no-repeat 2px 0;  }
.icon--faq {  background: url('../logo-icones/FAQ NAV.svg') no-repeat 1px 0;  }
.icon--faq.is_active { background: url('../logo-icones/icone-faq-vert.svg') no-repeat 0 0; }
.is_pro.icon--faq.is_active { background: url('../logo-icones/icone-faq-pro.svg') no-repeat 0 0; }
.is_pro.icon--faq {  background: url('../logo-icones/icone-faq-pro.svg') no-repeat 1px 0;  }
.icon--contact {  background: url('../logo-icones/icone enveloppe-contact.svg') no-repeat 1px 0;  }
.icon--newsletter {  background: url('../logo-icones/icone newsletter.svg') no-repeat 0 0;  }
.icon--legalMention {  background: url('../logo-icones/icone-mentions-gris.svg') no-repeat 6px -1px; }
.icon--youtube {  background: url('../logo-icones/icone you tube.svg') no-repeat 0 0; }
.icon--youtube:hover {  background: url('../logo-icones/icone you tube-active.svg') no-repeat 0 0;  }
.icon--facebook {  background: url('../logo-icones/icone facebook.svg') no-repeat 11px 0; }
.icon--facebook:hover {  background: url('../logo-icones/icone facebook-active.svg') no-repeat 11px 0;  }
.icon--twitter {  background: url('../logo-icones/icone twitter.svg') no-repeat 0 0; }
.icon--twitter:hover {  background: url('../logo-icones/icone twitter-active.svg') no-repeat 0 0;  }
.icon--copyright {  background: url('../logo-icones/icone copyright.svg') no-repeat 0 0;  }
.icon--burger {  background: url('../logo-icones/menu burger.svg') no-repeat 0 0;  }
.icon--burger.is_active {  background: url('../logo-icones/menu burger-green.svg') no-repeat 0 0;  }
.is_pro.icon--burger.is_active {  background: url('../logo-icones/menu-burger-pro-bleu.svg') no-repeat 0 0;  }
.icon--arrow {  background: url('../logo-icones/flèche gauche transparente.svg') no-repeat 0 0;  }
.is_pro.icon--arrow { background: url('../logo-icones/flèche-gauche-transparente-pro.svg') no-repeat 0 0;  }
.icon--discuss { background: url('../logo-icones/icone bulles de discussion user vert.svg') no-repeat 0 0; }
.is_pro.icon--discuss { background: url('../logo-icones/icone-bulles-de-discussion-pro.svg') no-repeat 0 0; }
.icon--send { background: url('../logo-icones/icone-envoyer.svg') no-repeat 0 0; }
.icon--tag { background: url('../logo-icones/tag-icone-user-green.svg') no-repeat 0 0; }
.is_pro.icon--tag { background: url('../logo-icones/icone-tag-user-pro.svg') no-repeat 0 0; }
.icon--lock { background: url('../logo-icones/cadenas-fermé-user-green.svg') no-repeat 0 0; }
.icon--search { background: url('../logo-icones/icone_carteloupe_gris.svg') no-repeat 0 0; }
.icon--search.is_active { background: url('../logo-icones/icone-carteloupe-user_vert.svg') no-repeat 0 0; }
.icon--espacepro { background: url('../logo-icones/espace_pro_bleu.svg') no-repeat 0 0; }
.icon--checked { background: url('../logo-icones/icone-case-cochee.svg') no-repeat 0 3px; }
.icon--thumb {
    position: relative;
    top: 4px;
    background: url('../logo-icones/icone pouce inversé.svg') no-repeat 0 0;
}
.icon--agenda { background: url('../logo-icones/icone-agenda-gris.svg') no-repeat 0 0; }
.is_pro.icon--agenda { background: url('../logo-icones/icone-agenda-pro.svg') no-repeat 0 0; }
.icon--uploadImg { background: url('../logo-icones/icone-importer-user.svg') no-repeat 0 0;}
.is_pro.icon--uploadImg { background: url('../logo-icones/icone-importer-pro.svg') no-repeat 0 0;}
.icon--trash.is_active { background: url('../logo-icones/poubelle-verte.svg') no-repeat;}
.icon--home:hover {  background: url('../logo-icones/MAISON  NAV DESK-green.svg') no-repeat;  }
.icon--connection:hover {  background: url('../logo-icones/icone-cadenas-connexion-green.svg') no-repeat 8px 0;  }
.icon--connection.is_active {  background: url('../logo-icones/icone rapide connexion-green.svg') no-repeat 8px 0;  }
.icon--maps:hover {  background: url('../logo-icones/icone rapide carte-green.svg') no-repeat 8px 0;  }
.icon--obs:hover {  background: url('../logo-icones/icone-saisir-obs-green.svg') no-repeat 4px 0;  }
.icon--prog:hover {  background: url('../logo-icones/PUZZLE PROG NAV-green.svg') no-repeat 3px 0;  }
.icon--account:hover {  background: url('../logo-icones/PROFIL USER NAV-green.svg') no-repeat 2px 0;  }
.icon--faq:hover {  background: url('../logo-icones/FAQ NAV-green.svg') no-repeat 1px 0;  }
.icon--contact:hover {  background: url('../logo-icones/icone enveloppe-contact-green.svg') no-repeat 1px 0;  }

/***** HEADER *****/
.header {
    position: fixed;
    z-index: 10;
    font-size: 0.99em;
    height: 125px;
    width: 100%;
    transition: .2s;
    background-color: #282829;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 5px 8px #111;
    box-shadow: 0 5px 8px #111;
}
.navbar-mobile {
    display: none;
    top: -20px;
}
.navbar-mobile-title {
    display: block;
    margin-bottom: 22px;
}
.navbar-mobile-content {
    display: none;
    position: fixed;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 15px;
    transition: .4s ease-in-out, top .22s ease;
    color: #E6E6E6;
    box-shadow: -3px 0 6px #111;
    right: -305px;
    top: 122px;
    width: 280px;
    height: 100%;
    background: #282829;
}
.navbar-mobile-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-mobile-link {
    text-decoration: none;
    color: #EBEBEB;
    margin: 0 0 0 10px;
    text-align: left;
    font-size: 0.9em;
    padding: 16px 0 14px 0;
    width: 190px;
    border-bottom: 1px solid #EBEBEB;
    transition: .2s;
}
.navbar-mobile-link:hover {
    color: #8CC63F;
}
.is_pro.navbar-mobile-content .navbar-mobile-link:hover {
    color: #00A99D;
}
.navbar-mobile .icon--burger:hover {  background: url('../logo-icones/menu burger-green.svg') no-repeat;  }
.navbar-mobile .is_pro.icon--burger:hover {  background: url('../logo-icones/menu-burger-pro-bleu.svg') no-repeat;  }

.header .container {
    z-index: 1000;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-logo {
    width: 112px;
    height: 79px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.header-navbar {
    margin-left: auto;
    margin-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-navbar-link {
    position: relative;
    color: #939498;
    text-decoration: none;
    font-variant-caps: all-petite-caps;
    top: -4px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.header-navbar-item {
    width: 78px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-navbar-item:hover {  cursor: pointer;  }
.header-navbar-item.not-allowed:hover {
    cursor: not-allowed;
}
.header-navbar-item:hover .header-navbar-link {  color: #8CC63F;  }

/***** HEADER ICONS *****/
.header-navbar-item:hover .icon--home {  background: url('../logo-icones/MAISON  NAV DESK-green.svg') no-repeat;  }
.is_pro.header-navbar-item:hover .icon--home {  background: url('../logo-icones/icone-accueil-pro.svg') no-repeat;  }
.header-navbar-item:hover .icon--connection {  background: url('../logo-icones/icone-cadenas-connexion-green.svg') no-repeat 7px 0;  }
.is_pro.header-navbar-item:hover .icon--connection {  background: url('../logo-icones/icone-cadenas-connexion-pro.svg') no-repeat 8px 0;  }
.header-navbar-item:hover .icon--maps {  background: url('../logo-icones/icone rapide carte-green.svg') no-repeat 8px 0;  }
.is_pro.header-navbar-item:hover .icon--maps {  background: url('../logo-icones/icone-carte-pro.svg') no-repeat 8px 0;  }
.header-navbar-item:hover .icon--obs {  background: url('../logo-icones/icone-saisir-obs-green.svg') no-repeat 4px 0;  }
.is_pro.header-navbar-item:hover .icon--obs {  background: url('../logo-icones/icone-saisir-obs-pro.svg') no-repeat 4px 0;  }
.header-navbar-item:hover .icon--prog {  background: url('../logo-icones/PUZZLE PROG NAV-green.svg') no-repeat 3px 0;  }
.is_pro.header-navbar-item:hover .icon--prog {  background: url('../logo-icones/icone-programme-pro.svg') no-repeat 3px 0;  }
.header-navbar-item:hover .icon--account {  background: url('../logo-icones/PROFIL USER NAV-green.svg') no-repeat 2px 0;  }
.is_pro.header-navbar-item:hover .icon--account {  background: url('../logo-icones/icone-mon-compte-pro.svg') no-repeat 2px 0;  }
.header-navbar-item:hover .icon--faq {  background: url('../logo-icones/FAQ NAV-green.svg') no-repeat 1px 0;  }
.is_pro.header-navbar-item:hover .icon--faq {  background: url('../logo-icones/icone-faq-pro.svg') no-repeat 1px 0;  }
.header-navbar-item:hover .icon--contact {  background: url('../logo-icones/icone enveloppe-contact-green.svg') no-repeat 1px 0;  }
.is_pro.header-navbar-item:hover .icon--contact {  background: url('../logo-icones/icone-contact-pro.svg') no-repeat 1px 0;  }

.header-navbar-item:hover .icon--home {  background: url('../logo-icones/MAISON  NAV DESK-green.svg') no-repeat;  }
.header-navbar-item:hover .icon--connection {  background: url('../logo-icones/icone rapide connexion-green.svg') no-repeat 8px 0;  }
.header-navbar-item:hover .icon--maps {  background: url('../logo-icones/icone rapide carte-green.svg') no-repeat 8px 0;  }
.header-navbar-item:hover .icon--prog {  background: url('../logo-icones/PUZZLE PROG NAV-green.svg') no-repeat 3px 0;  }
.header-navbar-item:hover .icon--account {  background: url('../logo-icones/PROFIL USER NAV-green.svg') no-repeat 2px 0;  }
.header-navbar-item:hover .icon--faq {  background: url('../logo-icones/FAQ NAV-green.svg') no-repeat 1px 0;  }
.header-navbar-item:hover .icon--contact {  background: url('../logo-icones/icone enveloppe-contact-green.svg') no-repeat 1px 0;  }

.header-navbar .icon:after {
    content: '';
    display: block;
    position: relative;
    right: 17px;
    height: 40px;
    border-left: 1px solid #939498;
}
/**** STYLE FOR THE LOGIN PAGE MENU ****/
#login-page {
    position: absolute;
    width: 100%;
    display: none;
}
#contact-page {
    position: absolute;
    width: 100%;
    display: none;
}
/***** FLASH MSG *****/
.flash-message {
    transition: 2.4s;
    border-radius: 4px;
    position: absolute;
    top: 0;
    opacity: 0;
    right: 40px;
    z-index: 50;
    width: 190px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flash-message.error {
    background-color: #a41e22;
    border: 1px solid #660000;
}
.flash-message.success {
    border: 1px solid #6b9311;
    background-color: #8CC63F;
}
    /***** PAGINATION *****/
.pagination {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.pagination-item {
    width: 48px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px #111;
    background-color: #383839;
}
.pagination-item.is_active {
    background-color: #282829;
    box-shadow: 1px 2px 5px #111;
}
.pagination-item.is_active .pagination-link {
    color: #8CC63F;
}
.pagination-item:nth-child(1) {
    z-index: 10;
}
.pagination-item:nth-child(2) {
    z-index: 9;
}
.pagination-item:nth-child(3) {
    z-index: 8;
}
.pagination-item:nth-child(4) {
    z-index: 7;
}
.pagination-item:nth-child(5) {
    z-index: 6;
}
.pagination-item:nth-child(6) {
    z-index: 5;
}
.pagination-link {
    transition: .25s;
    color: #FCFAFA;
    font-size: 1.8em;
}
.pagination-link:hover {
    color: #8CC63F;
}

/***** FOOTER *****/
.footer {
    background-color: #282829;
    color: #939498;
    padding: 32px 0 20px 0;
    -webkit-box-shadow: 0 -8px 8px -6px #111;
    box-shadow: 0 -8px 10px -6px #111;
}

.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}
.footer-item--center {
    display: flex;
    justify-content: center;
    height: 145px;
}
.footer-item:hover .header-navbar-link {  color: #8CC63F;  }

/***** FOOTER ICONS *****/
.footer-item:hover, .icon--facebook, .icon--twitter, .icon--youtube {  cursor: pointer;  }
.footer-item:hover .icon--home {  background: url('../logo-icones/MAISON  NAV DESK-green.svg') no-repeat;  }
.footer-item:hover .icon--connection {  background: url('../logo-icones/icone rapide connexion-green.svg') no-repeat 8px 0;  }
.footer-item:hover .icon--maps {  background: url('../logo-icones/icone rapide carte-green.svg') no-repeat 8px 0;  }
.footer-item:hover .icon--prog {  background: url('../logo-icones/PUZZLE PROG NAV-green.svg') no-repeat 3px 0;  }
.footer-item:hover .icon--account {  background: url('../logo-icones/PROFIL USER NAV-green.svg') no-repeat 2px 0;  }
.footer-item:hover .icon--faq {  background: url('../logo-icones/FAQ NAV-green.svg') no-repeat 2px 0;  }
.footer-item:hover .icon--contact {  background: url('../logo-icones/icone enveloppe-contact-green.svg') no-repeat 1px 0;  }
.is_pro.footer-item:hover .icon--contact {  background: url('../logo-icones/icone-contact-pro.svg') no-repeat 1px 0;  }
.footer-item:hover .icon--newsletter {  background: url('../logo-icones/icone newsletter-green.svg') no-repeat 0 0;  }
.is_pro.footer-item:hover .icon--newsletter {  background: url('../logo-icones/icone-newsletter-bleu-pros.svg') no-repeat 0 0;  }
.footer-item:hover .icon--legalMention {  background: url('../logo-icones/icone-mentions-green.svg') no-repeat 5px -1px;  }
.is_pro.footer-item:hover .icon--legalMention {  background: url('../logo-icones/icone-mentions-bleu-pros.svg') no-repeat 6px -1px;  }

.footer-link {
    margin-left: 5px;
    margin-top: 5px;
    transition: 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}
.footer-item:hover .footer-link{  color: #8CC63F  }
.footer-address {
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    text-align: right;
}
.footer-copyright {
    display: flex;
    justify-content: flex-end;;
}
.footer .icon--copyright {
    margin: 5px 2px 0 0;
}


@media only screen and (max-width: 980px) {

    /***** BUTTONS *****/
    .btn {
        padding: 0;
        width: 165px;
        height: 30px;
        line-height: 26px;
        margin: 15px 0;
    }
    .text-pull-right.md {
        text-align: center;
    }
    .text-pull-left.md {
        text-align: center;
    }
    .text-center.md {
        text-align: center;
    }
    .center {
        flex-direction: column;
        align-items: center;
    }
    /***** HEADER *****/
    .hidden-sm { display: none; }
    .navbar-mobile {
        margin-left: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 36px;
    }

    /***** FOOTER *****/
    .footer-item {  justify-content: center;  }
    .footer-link {  text-align: center;  }
    .footer-item--center {  height: 80px;  }
    .footer-address {  text-align: center;  }
    .footer-copyright {  justify-content: center;  }
}

@media only screen and (max-width: 720px) {
    .button-group {
        flex-direction: column;
        align-items: center;
    }
}