table, th, td {
    border: 1px solid black;
}

#map {
    position: relative;
    top: 160px;
    margin-bottom: 80px;
    height: 90%;
    width: 90%;
}
      /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#listObservationCarte{
    display: none;
}

.carte-container {
    position: relative;
    top: 120px;
    margin-bottom: 140px;
}
.carte-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 5px -2px #111;
    padding-bottom: 30px;
    color: #8CC63F;
}
.carte-container .well {
    display: flex;
    justify-content: center;
}
.carte-container button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    min-width: 155px;
    height: 44px;
    line-height: 19px;
    font-weight: bolder;
    background-color: #282829;
    box-shadow: 0 5px 8px black;
    color: #FAFAFA;
    border: none;
    font-variant-caps: all-small-caps;
    font-size: 1.2em;
    border-radius: 26px;
    transition: .2s;
}
.carte-container button:hover {
    box-shadow: 0 3px 6px black;
}
.search-title {
    margin: 30px 0;
    display: flex;
    align-items: center;
    color: #8CC63F;
}
.search-title h3 {
    position: relative;
    top: 5px;
    text-decoration: underline;
    font-size: 1.4em;
}
#observation_carte select {
    width: 100%;
}
#observation_carte label {
    color: #8CC63F;
}
#listObservationCarte {
    width: 100%;
    color: #FAFAFA;
    border: none;
}
#listObservationCarte td, #listObservationCarte th {
    border: none;
}
#listObservationCarte thead {
    color: #8CC63F;
}
#listObservationCarte tbody tr {
    box-shadow: 0px -5px 4px -2px #111;
}
#listObservationCarte th:first-child, td:first-child {
    padding: 12px 15px;
}
@media only screen and (max-width: 980px) {
    #listObservationCarte tr td, #listObservationCarte th {
        padding: 9px 9px;
    }
    #listObservationCarte tr td:first-child, #listObservationCarte th:first-child  {
        display: none;
    }
    #listObservationCarte tr td:nth-child(4), #listObservationCarte th:nth-child(4) {
        display: none;
    }
}