.contact-content {
    display: block;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    padding: 42px;
    top: 0;
    left: -1500px;
    background-color: #282829;
    z-index: 10;
    position: absolute;
    -webkit-box-shadow: 10px 4px 4px rgba(30, 30, 30, 0.8);
    box-shadow: 10px 4px 4px rgba(30, 30, 30, 0.8);
    width: 65%;
    height: 100vh;
}
.contact-content .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.contact-content header h1 {
    color: #8CC63F;
}
.contact-content form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.contact-content form div input, .contact-content form div textarea {
    width: 80%;
}
.contact-content form button {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 42px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-radius: 22px;
}
.contact-content form button .icon--send {
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
}
.contact-content label {
    color: #8CC63F;
}
@media only screen and (max-width: 980px) {
    .contact-content {
        width: 88%;
    }
    .contact-content form div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .contact-content form div input, .contact-content form div textarea {
        width: 100%;
    }
}