.contact-content {
    display: block;
    transition: all 1s;
    background-color: #282829;
    width: 100%;
    height: 100vh;
}
.contact-content .title {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.contact-content header h1 {
    color: #8CC63F;
}
.contact-content form div {
    display: flex;
    justify-content: space-between;
}
.contact-content form div input, .contact-content form div textarea {
    width: 80%;
}
.contact-content form button {
    margin-left: auto;
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: space-around;
    border-radius: 22px;
}
.contact-content form button .icon--send {
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
}
.contact-content label {
    color: #8CC63F;
}
ul li {
    border-radius: 4px;
    list-style-type: none;
    position: absolute;
    top: 2px;
    background: #a41e22;
    width: 100%;
    left: 0;
    padding: 10px;
    color: #FAFAFA;
}
@media only screen and (max-width: 980px) {
    .contact-content form div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-content form div input, .contact-content form div textarea {
        width: 100%;
    }
}