.container-mentions {
    position: relative;
    top: 140px;
    margin-bottom: 160px;
}
.container-mentions h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #8CC63F;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container-mentions h3 span {
    margin-left: 20px;
}
.container-mentions .mentions-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 34px;
    text-align: center;
    background-color: #727272;
    color: #C0C0C0;
}
.mentions-content .anchor {
    color: #8CC63F;
    text-decoration: underline;
}