.blog {
    box-shadow: 0 -3px 5px #111;
}
.blog-title {
    margin-top: 40px;
    display: flex;
    padding: 20px 14px;
    align-items: center;
    height: 80px;
}
.blog-title h1 {
    position: relative;
    bottom: 6px;
    font-variant-caps: all-petite-caps;
    margin: auto 30px;
    font-size: 2.4em;
    color: #8CC63F;
    letter-spacing: 1px;
}
.blog-content {
    color: #FCFAFA;
    box-shadow: 0 5px 6px #111;
    padding: 14px;
    margin: 20px 0;
}
.blog-content .title {
    font-size: 1.2em;
    color: white;
    width: 300px;
}
.blog-content .btn {
    padding: 5px;
}
.blog-link {
    color: #FCFAFA;
    transition: .26s;
}
.blog-link:hover {
    color: #8CC63F;
}

@media only screen and (max-width: 980px) {
    .blog-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blog-title h1 {
        position: relative;
        bottom: 6px;
        font-variant-caps: all-petite-caps;
        margin: 0 0 0 25px;
        font-size: 1.9em;
        color: #8CC63F;
        letter-spacing: 1px;
    }
}