.container-register {
    position: relative;
    top: 140px;
    margin-bottom: 160px;
    color: #FAFAFA;
    display: flex;
}
.container-register li {
    color: #a41e22;
    list-style-type: none;
    margin: 0 12px;
}
.container-register form {
    width: 100%;
}
.container-register #fos_user_registration_form div {
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.container-register #fos_user_registration_form input {
    width: 60%;
}
@media only screen and (max-width: 980px) {
    .container-register #fos_user_registration_form input {
        width: 100%;
    }
    .container-register li {
        color: #a41e22;
        list-style-type: none;
        margin: 0;
    }
}